html{
    height:100%;
}
body{
    height:100%;
}
header{
    height:56px;
}
.bodyContent{
    height:calc(100% - 100px);
    padding:10px;
}
footer{
    text-align: center;
    height:24px;
    line-height:24px;
    color:#666;
    background:rgba(0,0,0,0.3);
}