<!-- 分页指令的html模板 -->
<div class="pagination">
    <input type="button" value="首页" />
    <input type="button" value="上一页" />
    <div class="paginationList">
        <ul>
            <li class="paginationLiActive">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
        </ul>
    </div>
    <input type="button" value="下一页" />
    <input type="button" value="尾页" />
    <select></select>
    <span>共</span>
    <span class="paginationTotalItems">20</span>
    <span>条</span>
    <span>跳至：</span>
    <input class="paginationGo" type="number" min="1" />
    <input type="button" value="确认" />
    <span>共</span>
    <span class="paginationTotalPage">20</span>
    <span>页</span>
</div>